# IntelliJ specific files
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse files
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# Netbeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VSCode files
.vscode/
.code-workspace

# OS X
.DS_Store

# compiled target folder
target/

# Compiled class file
*.class

# Log file
*.log

# Custom Save Files
*.ser

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar